body {
    margin: 0;
    padding: 0;

}

#contact {
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    width: 600px;
    height: 40px;
    border: 3px solid #c1c1fa;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

textarea {
    height: 250px;
}

#alert-button {
    margin-left: 30px;
    width: 100px;
    font-size: 20px;
    background-color: #c1c1fa;
    border-radius: 5px;
    color: #3c3577;
    border: 2px solid #3c3577;
    padding: 5px;
}

#alert-button:hover {
    background-color: #716ab3;
    color: #c1c1fa;
}