body {
    margin: 0;
    padding: 0;

}


.card_display {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
    width: auto;
}